<div class="container-fluid header bg-white p-0">
  <div class="row g-0 align-items-center flex-column-reverse flex-md-row">
    <div class="col-md-6 p-5 mt-lg-5">
      <h1 class="display-5 animated fadeIn mb-4">
        Find A <span class="text-primary">Perfect Home</span> To Live With Your
        Family
      </h1>
      <p class="animated fadeIn mb-4 pb-2">
        Vero elitr justo clita lorem. Ipsum dolor at sed stet sit diam no. Kasd
        rebum ipsum et diam justo clita et kasd rebum sea elitr.
      </p>
      <a href="" class="btn btn-primary py-3 px-5 me-3 animated fadeIn"
        >Get Started</a
      >
    </div>
    <div class="col-md-6 animated fadeIn">
      <div class="owl-carousel header-carousel owl-theme">
        <div class="owl-carousel">
          <img class="img-fluid" src="../assets/carousel-2.jpg" alt="" />
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <div class="trustedby-cnt p-4 border my-4">
        <span class="flex align-items-center justify-content-center ">
          <div style="font-weight:bold;">
            We are Trusted By
          </div>
        </span>
        <div class="trustedby-logos d-flex align-items-center w-100">
          <img class="w-25 pe-4" src="../../assets/ts.jpg">
          <img class="w-25 pe-4" src="../../assets/trust.png" >
          <img class="w-25 pe-4" src="../../assets/lnt.webp">
            <img class="w-25" src="../../assets/amb.webp"> 
        </div>
      </div>
    </div>
  </div>
</div>
