<app-navbar></app-navbar>
<div class="container">
  <div class="row" style="margin-top: 10%;">
    <div class="col-6">
      <h2>Welcome to EstateNexus</h2>
      <p>
        Founded in 2024 by <b>CEO  Ronak Donga</b> and with help his teamMate and <b>Managing director mihit chapla </b>. EstateNexus is most innovative real
        estate advertising platform for homeowners, landlords, developers, and
        real estate brokers.
      </p>
  
      <p>
        The company offers listings for new homes, resale homes, rentals, plots
        and co-living spaces in India. Backed by strong research and analytics,
        the company’s experts provide comprehensive real estate services that
        cover advertising and marketing, sales solutions for real estate
        developers, personalized search, virtual viewing, AR&VR content, home
        loans, end-to-end transaction services, and post-transaction services to
        consumers for both buying and renting.
      </p>
      <p>
        Our vision is changing the way India experiences property.
      </p>
      <p>
        And our mission is to be the first choice of our consumers and partners in discovering, renting, buying, selling, financing a home, and digitally enabling them throughout their journey. We do that with data, design, technology, and above all, the passion of our people while delivering value to our shareholders.
      </p>
    </div>
    <div class="col-6 d-flex justify-content-end" >
      <img
      src="../../assets/logo.jpg"
      style="width: 80%"
    />
    </div>
  </div>
</div>

<app-footer></app-footer>

